/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Roboto','Poppins', sans-serif;
    font-size: 1em;
    background: #fafafa;
}

p {
    font-family: 'Roboto','Poppins', sans-serif;

    font-weight: 300;
    line-height: 1.7em;
    color: black;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #1e88e5;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #1565c0;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - 250px);
    min-height: 100vh;
    padding: 1%;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#content.active {
    width: 100%;
}
.avatar {
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
#cardImage{
    padding-top: 2rem
}
.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    max-width: 700px

}
.img-fluid{
    max-width:400px;
    max-height:400px;
}
img {
    max-width:300px;
    max-height:300px;
    height: 70%;
    width: auto
}

button {
    background-color: #1565c0;
    color: white;

}
.carousel-control-prev-icon,
.carousel-control-next-icon {

    outline: black;
}

.carousel-control-next-icon:after
{
    content: '>';
    font-size: 55px;
    color: black;
}

.carousel-control-prev-icon:after {
    content: '<';
    font-size: 55px;
    color: black;
}


table th {
    color: #fff;
    line-height: 1.4;
    color: aliceblue;
    background-color: #1565c0;
}
.clickable-row{
    cursor: pointer;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #cbe3ff;
}

td {
    color: #808080;
    line-height: 1.4;
}


table{
    font-size: 2.3vw;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.15);

}



/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- *//*
@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore *//*
	table, thead, tbody, th, td, tr {
		display: block;
    }

	/* Hide table headers (but not display: none;, for accessibility) *//*
	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	tr { border: 1px solid #ccc; position: right;}

	td {
		/* Behave  like a "row" *//*
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%;
	}

	td:before {
		/* Now like a table header *//*
		position: absolute;
		/* Top/left values mimic padding *//*
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	}

	/*
	Label the data
	*//*
	td:nth-of-type(1):before { content: "Nome"; }
	td:nth-of-type(2):before { content: "Descrizione"; }
	td:nth-of-type(3):before { content: "Data prescrizione"; }
	td:nth-of-type(4):before { content: "Data erogazione"; }
	td:nth-of-type(5):before { content: "Esito"; }
}*/
@media screen and (min-width:768px) {
    table{ font-size: 1em; }
}
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
}


.form {
    z-index: 15;
    position: relative;
    background: #FFFFFF;
    width: auto;
    max-width: 700px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;

    overflow: hidden;
}
.form-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 20px;
}
.form-group label {
    display: block;
    margin: 0 0 10px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: .2em;
}

.form-group input {
    outline: none;
    display: block;
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
    border: 0;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 12px 20px;
    color: rgba(0, 0, 0, 0.6);
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    line-height: inherit;
    transition: 0.3s ease;
}
.form-group input:focus {
    color: rgba(0, 0, 0, 0.8);
}
.form-group input {
    color: #FFFFFF;
}
.form-group button {
    outline: none;
    background: #1565c0;
    width: 100%;
    border: 0;
    border-radius: 4px;
    padding: 12px 20px;
    color: #FFFFFF;
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    line-height: inherit;
    text-transform: uppercase;
    cursor: pointer;
}


.form-panel {
    padding: 5vw;
    box-sizing: border-box;
}
.form-header {
    margin: 0 0 40px;
}
.form-header h1 {
    padding: 4px 0;
    color: #1565c0;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}